table {
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

td {
  border: 1px solid #999;
  padding: 3rem;
  text-align: left;
}

td.weekend {
  background-color: rgba(189, 189, 189, 0.829);
}

.weekend {
  color: white;
}

.empty {
  color: darkslateblue
}