table {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

td {
  border: 1px solid #999;
  padding: 3rem;
  text-align: left;
}

.empty {
  color: cadetblue;
}