.grid-container {
  display: grid;
  margin-left: auto auto auto auto;
  margin-right: auto auto auto auto;
  grid-template-areas:
    'header header header header'
    'main main main right'
}

.header { 
  grid-area: header; 
  margin-left: auto;
  margin-right: auto;
}
.main { 
  grid-area: main; 
  margin-left: auto;
  margin-right: auto;
}
.right { 
  grid-area: right; 
  margin-left: auto;
  margin-right: auto;
}