.grid-container {
  display: grid;
  /* margin-left: auto auto ;
  margin-right: auto auto; */
  grid-template-areas:
    'header header '
    'main right'
    'footer footer'
}

.header { 
  grid-area: header; 
  margin-left: auto;
  margin-right: auto;
}
.main { 
  grid-area: main; 
  margin-left: auto;
  padding-right: 0%;
  /* margin-right: auto; */
}
.right { 
  grid-area: right; 
  /* margin-left: auto; */
  margin-right: auto; 
  padding-left: 10%;
}
.footer { 
  grid-area: footer; 
  margin-left: auto;
  margin-right: auto;
}